<!-- <p>detail-food works!</p>
<div class="recipe">
    <h2>{{ recipe.title }}</h2>
    <p>Difficulty: {{ recipe.difficulty }}</p>
    <p>Portion: {{ recipe.portion }}</p>
    <p>Time: {{ recipe.time }}</p>
    <p>Description: {{ recipe.description }}</p>
  
    <img [src]="recipe.image" alt="{{ recipe.title }}" />
  
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
    </ul>
  
    <h3>Method:</h3>
    <ol>
      <li *ngFor="let step of recipe.method let i = index">
          {{recipe.method[i]['Step 1']}}
          
      </li>
    </ol>
  </div>
   -->
   <button type="button" (click)="test()">See more</button>
   <!-- <div *ngFor="let food of food_detail">
    <h2>{{ food.title }}</h2>
    <p>Difficulty: {{ food.difficulty }}</p>
    <img [src]="food.image" alt="Food Image" width="200">
    <p>ID: {{ food.id }}</p>
    <p>Portion: {{ food.portion }}</p>
    <p>Time: {{ food.time }}</p>
    <p>Description: {{ food.description }}</p>
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of food.ingredients.split(';')">{{ ingredient }}</li>
    </ul>
    <h3>Method:</h3>
    <p>{{ food.method }}</p>
  </div>
   -->

   <!-- <div *ngIf="foodDetail">
    <h2>{{ foodDetail.title }}</h2>
    <p>Difficulty: {{ foodDetail.difficulty }}</p>
    <img [src]="foodDetail.image" alt="Food Image" width="200">
    <p>ID: {{ foodDetail.id }}</p>
    <p>Portion: {{ foodDetail.portion }}</p>
    <p>Time: {{ foodDetail.time }}</p>
    <p>Description: {{ foodDetail.description }}</p>
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of foodDetail.ingredients.split(';')">{{ ingredient }}</li>
    </ul>
    <h3>Method:</h3>
    <p>{{ foodDetail.method }}</p>
  </div> -->

  <div *ngIf="food_detail">
    <h1>{{ food_detail.title }}</h1>
    <p>{{ food_detail.description }}</p>
    <p>Portion: {{ food_detail.portion }}</p>
    <p>Time: {{ food_detail.time }}</p>
    <h2>Ingredients:</h2>
    <ul>
      <li *ngFor="let ingredient of food_detail.ingredients">{{ ingredient }}</li>
    </ul>
    <h2>Method:</h2>
    <ol>
      <li *ngFor="let step of food_detail.method">
        <span *ngFor="let value of step | keyvalue">
          {{ value.key }}: {{ value.value }}
        </span>
      </li>
    </ol>
    <img [src]="food_detail.image" alt="{{ food_detail.title }}">
  </div>
  
  