<!-- <p>detail-food works!</p>
<div class="recipe">
    <h2>{{ recipe.title }}</h2>
    <p>Difficulty: {{ recipe.difficulty }}</p>
    <p>Portion: {{ recipe.portion }}</p>
    <p>Time: {{ recipe.time }}</p>
    <p>Description: {{ recipe.description }}</p>
  
    <img [src]="recipe.image" alt="{{ recipe.title }}" />
  
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
    </ul>
  
    <h3>Method:</h3>
    <ol>
      <li *ngFor="let step of recipe.method let i = index">
          {{recipe.method[i]['Step 1']}}
          
      </li>
    </ol>
  </div>
   -->
   <button type="button" (click)="test()">See more</button>