<div class="container">
    <div class="header">
      <app-header></app-header>
    </div>
  
    <div class="main-content">
    <div>
        <div class="image-section">
            <img src="assets/images/food-home.png" alt="Vegan Burger">
        </div>
    </div>
      
      <div class="text-section">
        <h2>LONG DO</h2>
        <div class="con-card">
            <app-card-home
                *ngIf="showVeg"
                title="The Vegan Food"
                description="Based on plants (such as vegetables, grains, nuts and fruits) and foods made from plants."
                imageUrl="assets/images/theVegan.png">
            </app-card-home>
            <app-card-home
                *ngIf="showCocktail"
                title="The Cocktail"
                description="A cocktail is a mixed drink typically made with a distilled liquor."
                imageUrl="assets/images/Cocktail.png">
            </app-card-home>
        </div>     
        <div class="buttons">
            <button class="vegan-btn" (click)="showVegCard()">Vegan</button>
            <button class="cocktail-btn" (click)="showCocktailCard()">Cocktail</button>
        </div>
      </div>
    </div>
  </div>
  