body{
  margin: 0px;
 }
 .bg {
  background-image: url('/assets/images/food-home.png');
  display: flex;
  flex-direction: column;  
  height: 100vh;
  width: 100vw;
}

 .icon-button img {
  width:  40px;
  height: 40px;
  display: flex;
}

.header {
  text-align: center;
}

.header h1 {
  display: inline; 
  
}
.header-text{
  background-color: aliceblue;
}

.header .icon-buttons {
 padding: 20px;
}
.icon-buttons .icon-button {
  margin-right: 10px; 
}
