.container {
  /* max-width: 800px;
  margin: 20px auto; */
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.food-item {
  width: calc(25% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.food-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.food-details button{
  background-color: rgb(250, 197, 83);
  width: 100%;
  padding: 10px;
}
.container-fav {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Add space between items */
}
.add-fav-button {
  width: 100%;
  background-color: #000000;
  border: none;
  padding: 15px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.add-fav-button:hover {
  background-color: #1a1919;
}

.favorite-button {
display: flex;
align-items: center;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px;
cursor: pointer;
transition: background-color 0.3s;
}

.favorite-button img {

height: 10px; /* ปรับขนาดของรูปภาพที่นี่ */
}

.favorite-button:hover {
background-color: #f0f0f0;
}



@media only screen and (min-width: 768px) {
.food-item {
  width: calc(25% - 20px);
}
}

@media only screen and (max-width: 650px) {
.food-item {
  width: calc(40% - 20px);
  width: 300px;
}
}


@media only screen and (max-width: 400px) {
.food-item {
  width: calc(70% - 20px);
}
} 
