<div class="container">
  <div class="navbar">
    <div class="select-fav">
        <span>show Food : </span>
        <select [(ngModel)]="selectedOption" (change)="onOptionChange()">
            <option value="all">All</option>
            <option value="favorite">Favorite</option>
        </select>
    </div>
  </div>
  <h2>The Vegan Food</h2>
  <!-- <button (click)="logout()">ออกจากระบบ</button> -->
  

  <div *ngIf="selectedOption==='all'">
    <app-card></app-card>
  </div>

  <div *ngIf="selectedOption==='favorite'" >
    <app-card></app-card>
  </div>


