.container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .food-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .food-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .food-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .food-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .food-difficulty {
    font-style: italic;
    color: #888;
  }
  